
/*map-get-subpages*/

$estilos_textos_subpage: (
        display: flex,
        width: 100%,
        height: 100%,
        align-items: center,
        justify-content: flex-end,
        flex-direction: column,
        letter-spacing: 0.03em,
        line-height: 1.6,
        position: relative,
        overflow: hidden
);



/*mixin*/

@mixin card_subpagess_styles($ancho, $alto, $borderd, $margin) {
    width: $ancho;
    height: $alto;
    border-radius: $borderd;
    margin: $margin;
  


 }

 /*USAR EL MIXIN @INCLUDE*/
 /* EL ORDEN DE LOS PARAMETROS IMPORTAAAAAAAA */
 .box {
    @include card_subpagess_styles(500px, 500px, 16px, 0 2px, 20px);
 }

 .box2 {
    @include tamano(600px, 20px)
 }