
/*Titulos intermedios*/

$font-color-titulos-itermedios: #b73413;
$font-titulos-itermedios: "Roboto", sans-serif;
$font-style-titulos-itermedios: bold;
$font-weight-titulos-itermedios: 550;
$font-size-titulos-itermedios: 20px;
$font-margin-titulos-itermedios: auto;
$font-aling-titulos-itermedios: center;



